div{
    text-align: center;
    font-size: 20px;
    font-family: Arial;
    font-weight: 700;
    font-style: normal;
    color: #1f9440;
    height: 150px;
    
}
.tobby{
    border: 2px solid #FF0000;
    border-radius: 20px;
}
.bob{
    border: 2px solid #ff0000;
    border-radius: 20px;
}
header{
    text-align: center;
    background-image;


    
    
    
}
